@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;   
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-image: url(./img/backgroundTable.jpg);
    background-size: cover;
}

/*  Book  */

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 1.5s;
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    perspective: 1500px;
}

.front, .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    transform-origin: left;
    transition: 1.5s;
}
.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}
.cover{
    background-image: url(./img/menuCover.jpg);
    background-size: cover;

}
.back{
    z-index: 0;
}
#f1 h1 {
    color: rgb(166, 163, 163);
    font-family: 'Beau Rivage', cursive;
    font-size: 4rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1),
    1px 1px 1px rgba(0, 0, 0, .5),
    0px 0px 20px rgba(0, 0, 0, 0.91);;
    text-align: center;
}

.front-content, .back-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);
}

/*  Paper flip effect */

.flipped .front, .flipped .back{
    transform: rotateY(-180deg);
}

/*  Controller Buttons*/

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 1.5s;
}

button:focus{
    outline: none;
}
button:hover{
    color: #636363;
}

i{
    font-size: 50px;
    color: rgb(232, 232, 232);
}

/* Paper stack order */

#p1{
    z-index: 5;
}
#p2{
    z-index: 4;
}
#p3{
    z-index: 3;
}
#p4{
    z-index: 2;
}
#p5{
    z-index: 1;
}